body {
    width: 100%;
    /* background-color: rgb(237, 235, 235); */
    display: flex;
    justify-content: center;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.input label {
    text-indent: 5px;
    font-weight: 600;
}

.input input {
    width: 100%;
    min-height: 40px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    text-indent: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.submit-button {
    background-color: rgb(0, 9, 0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 15rem;
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
    margin-left: 5%;
}

.message {
    margin: 5px;
}


.pagination {
    padding: 5px;
}

#next,
#prev {
    background-color: rgb(0, 0, 0);
    height: 35px;
    padding: 2px 20px;
    color: white;
}

#next:hover,
#prev:hover {
    background-color: white;
    color: black;
}

.rows-per-page {
    width: 100px;
}

.row-number-n-pagination {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

/*END--IP-ADDRESS-LIST*/

select {
    width: 100%;
    min-height: 40px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    text-indent: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/*-----------SIGNUP PAGE-------------------*/
.sign-up-page {
    /* background-color: rgb(246, 246, 246); */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sign-up-title {
    position: relative;
    height: 50px;
    color: white;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 39, 37);
    border-radius: 5px 5px 0px 0px;
    text-transform: uppercase;
}

.sign-up-container {
    width: 600px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

}

.sign-up-form {
    width: 80%;
    margin: auto;
}

.s-input {
    /* margin-bottom: -20px; */
    position: relative;
}

.password-show {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 35px;
    right: 15px;
    cursor: pointer;
}

.password-show img {
    width: 100%;
    cursor: pointer;
}

.sign-up-button {
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 15rem;
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 10px auto;
}

.login-link {
    letter-spacing: 0.5x;
    font-weight: 600;
    margin: 20px auto;
}

.forget-password {
    text-decoration: none;
    color: blue;
}

.login-link span {
    color: blue;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}


.rowNumbers {
    margin-left: 2%;
}

.required {
    color: red;
    font-weight: bold;
}

/*END SIGN-UP PAGE*/

/* CSS STYLING FOR LOGIN PAGAE*/

.login-page-body {
    width: 100vw;
    height: 87vh;
}

.login-page {
    margin: 100px auto;
    width: 600px;
    height: 450px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.login-form {
    width: 80%;
    margin: 30px auto auto auto;
}

/*modification*/

.user-type {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 10px auto;
}

/*END of Login Page styling*/



/*-----------------COMPLAINT FORM STYLING-------------------*/

.complaint-form-page {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */

}

.complaint-form-area {
    width: 700px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.user-complaint-form {
    margin: auto;
    width: 96%;
}

.complaint-back-button {
    position: absolute;
    left: 1rem;
    top: 40%;
}

.complain-input {
    width: 80%;
}

.contact-room {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.c-user-phone-number {
    width: 60%;
}

.c-user-room-number {
    width: 40%;
}

#complaint-message {
    border-radius: 5px;
}

#complaint-message::placeholder {
    padding: 10px;
    opacity: .8;
}


textarea#description {
    padding: 10px;
    /* text-indent: 10px; */
}

.comlaint-heading {
    position: relative;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    border-radius: 5px 5px 0px 0px;
}

.submit-complaint {
    margin: 20px 10%;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(71, 71, 71));
    background-size: 200% 100%;
    background-position: left;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-position 0.5s ease-in-out;
}

.submit-complaint:hover {
    background-position: right;
}


/*---------------End of COMPLAINT FORM STYLING--------------------*/



/*-------------STYLING COMPLAINT DASHBOARD--------------------*/
.complaint-dashboard {
    width: 100vw;
    height: 100vh;
    background-color: rgb(239, 252, 254);
    padding-top: 5px;

}

.complaint-navbar {
    height: 60px;
    width: 98%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    /* border-radius: 10px; */
}

.complaint-navbar .navbar-brand {
    font-size: 18px;
    font-weight: 500;
    /* font-family: "Montserrat", sans-serif; */
}

.complaint-nav-links ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.complaint-navbar a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.menu {
    width: 30px;
    height: 30px;
    display: none;
}

.menu img {
    width: 100%;
}

.complaint-navbar a:hover {
    color: rgb(8, 0, 24);

}

.complaint-list {
    width: 98%;
    margin: 10px auto;
    background-color: white;
    height: 680px;
    overflow: auto;
    /* border-radius: 10px; */
    display: flex;
    gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.complaint-list-left {
    width: 75%;
    padding-top: 20px;
    padding-left: 20px;
    /* background-color: red; */
}



/* /---------------------- */
.complaint-table {
    margin: 1rem 1rem;
}

.complaint-list-left table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.complaint-table th,
.complaint-table td {
    border: none;
    outline: none;
    padding: 6px 6px;
    text-align: left;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    white-space: nowrap;
}

.view-btn{
    padding:4px 15px;
}

.complaint-list-left th {
    font-weight: 600;
    background-color: #c8ecec;
    color: #333;
}

.complaint-table table tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.2s ease;
}

.complaint-list-left tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}


/*-----------------------*/
.complaint-list-right {
    width: 35%;
}

.complaint-list-right-content {
    height: 350px;
}

.complaint-list-right-image img {
    opacity: 0.5;
    width: 100%;
}

.complaint-table {
    width: 100%;
}

.complaint-search {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    margin: 20px;
}


.complaint-search input {
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}

.filter-by-status {
    display: flex;
    gap: 10px;
    margin: auto 20px;
}

#statusPending,
#statusResolved {
    color:white;
    border: none;
    border-radius: none;
    padding:5px 20px;
    outline:none;
    background: orange;
}

#statusPending:active,
#statusResolved:active {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* complaint modal box to view detailed discription of the complaint  */

.modal-overlay {
    width: 500px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.complaint-message-box {
    height: 120px;
    margin-top: 20px;
    overflow: scroll;
}

.modal-buttons {
    display: flex;
    gap: 20px;

}

#message-paragraph {
    width: 100%;
    text-align: justify;
}

/* scroll bar hidden property  */

/* For Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
* {
    scrollbar-width: none;
}

/* For Internet Explorer, Edge */
* {
    -ms-overflow-style: none;
}

/* scroll bar hidden  */

.modal h3 {
    text-align: center;
    border: 1px solid yellow;
    border-radius: 5px;
    background-color: rgb(1, 14, 14);
    margin: 10px;
    color: white;
}


/*------------Ending COMPLAINT DASHBOARD------------------------*/

@media only screen and (max-width: 750px) {
    body {
        background-color: white;
        height: auto;

    }

    .submit-button {
        margin-bottom: 30px;
        margin-left: 0px;
    }

    .sign-up-form {
        width: 90%;

    }

    .sign-up-page {
        background-color: rgb(248, 248, 248);
        /* margin-top: -50px; */
        height: 95vh;
        overflow: hidden;
    }

    .sign-up-container {
        /* height: 90vh; */
        width: 95%;
        border-radius: 2px;
        overflow-y: hidden;
    }

    /* complaint form  */

    .complain-form-page {
        width: 95vw;
        margin: auto;
        overflow: hidden;
    }

    .complaint-form-area {
        width: 100%;
        box-shadow: none;
    }

    .contact-room {
        flex-direction: column;
        gap: 0px;
        width: 100%;
    }


    .complain-input {
        width: 100%;
    }

    .c-user-phone-number {
        width: 100%;
    }

    .c-user-room-number {
        width: 100%;
    }

    #description {
        /* border:none; */
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        padding-left: 10px;

    }

    /* complaint dashboard modal pop-up design modal overlay  */
    .modal-overlay {
        width: 100%;
        height: 100vh;
    }



    .complaint-message-box {
        height: 180px;
        margin: 20px auto 0px;

    }

    .modal h3 {
        margin: 20px auto;
    }


    .complaint-navbar {
        flex-direction: column;
        height: fit-content;

    }

    .navbar-brand {
        width: 95%;
        font-size: 12px;
    }

    .complaint-nav-links {
        width: 95%;
        justify-content: flex-start;
        display: none;

    }

    .complaint-nav-links .navlink {
        flex-direction: column;
        gap: 10px;
        margin: 20px auto;
        font-size: 18px;
    }

    .menu {
        display: block;
        position: absolute;
        right: 30px;
        top: 45px;
    }

}


@media only screen and (max-width: 1250px) {

    #root {
        width: 100%;
    }

    /*Complaint dashboard media query on screen 1250*/
    .complaint-list {
        flex-direction: column;

    }

    .complaint-list-left {
        width: 100%;
        height: fit-content;

    }

    .complaint-table {
        overflow: auto;
        padding-right: 10px;
    }

    .complaint-list>.complaint-list-left:nth-child(1) {
        order: 2 !important;
    }

    .complaint-list>.complaint-list-right:nth-child(2) {
        order: 1 !important;
    }

    .complaint-list-right {
        height: 120px;
        width: 100%;
    }

    .complaint-list-right-image {
        display: none;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .closedHamburger {
        display: block;
    }


    .row-number-n-pagination {
        margin-top: 10px;
    }
}

@media only screen and (max-width:1000px) {

    #root {
        width: 100%;
    }
}

@media only screen and (max-width:500px) {

    /* complaint dashboard  */
    .complaint-navbar .navbar-brand {
        width: 70%;
    }

    .row-number-n-pagination {
        position: sticky;
        bottom: 0px;
        gap: 2px;
        background-color: white;
        font-size: 12px;
        flex-direction: row-reverse;
        margin-bottom: 0px;

    }

    .rows-per-page {
        /* padding:0px; */
        width: 50px;
    }


    /* loging registration  */
    .login-form {
        width: 90%;
    }

    #root {
        width: 100%;
    }

    .sign-up-page {
        align-items: start;
        min-height: 100%;
    }

    .login-page {
        width: 100%;
        box-shadow: none;
        margin: auto;
    }

    button.sign-up-button {
        padding: 7px 30px;
        width: auto;
    }

    .sign-up-title {
        border-radius: 0px;
    }

    .sign-up-title h3 {
        font-size: 18px;
    }

    .sign-up-container {
        width: 100%;
        min-height: 100%;
    }

    .input {
        margin: 10px auto;
    }

    .row-number-n-pagination button {
        padding: 1px;

    }

    .complaint-dashboard {
        background-color: white;
    }

    .complaint-list-left {
        height: 100vh;
    }

    .complaint-navbar,
    .complaint-list {
        width: 99%;
    }

    .complaint-form-page {
        width: 100%;
        margin: auto;
        align-items: start;
        /* width: 95vw; */
    }

    .menu {
        top: 15px;
        right: 20px;
    }
}


@media only screen and (max-width:400px) {
    .complaint-form-area {
        width: 100%;
    }

    .password-show {
        bottom: 35px;
        left: 88%;
    }
}

@media only screen and (max-width:650px) {
    .login-page {
        width: 100%;
    }
}