.reset-password-page ,.forgot-password-page{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width:100vw; */
    height: 100vh;
}

.reset-password-container,.forgot-password-container {
    width: 600px;
    margin: auto;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.reset-password-heading,  .forgot-password-heading {
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding: 10px;
}

.reset-password-button ,.forgot-password-button{
    padding: 8px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 10px auto;
}

.reset-password ,.forgot-password{
    margin: 20px auto;
    width: 90%;
}

.reset-password .input, .forgot-password .input{
    gap:10px;
}

@media only screen and (max-width:650px) {
    .reset-password-page ,.forgot-password-page{
        display: block;
    }

    .reset-password-container,.forgot-password-container{
        width:100%;
    }

    .reset-password, .forgot-password{
        margin:50px auto;
    }

    .reset-password .input input, .forgot-password .input input{
        height: 30px;
    }
}

@media only screen and (max-width:450px){
    .reset-password,.forgot-password{
        width:95%;
    }

}